<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apl.lms.price.exp.manage.mapper.ChannelCategoryMapper">

    <!--分页查询渠道类型-->
    <select id="getList" resultType="com.apl.lms.price.exp.pojo.po.ChannelCategoryPo">
        select
            id, channel_category, bulky_way, volume_weight_way, carrier, cargo_type, volume_divisor, remote_charge_formula
        from
            channel_category
    </select>

    <!--根据id删除渠道类型-->
    <delete id="delById">
        delete from channel_category where id = #{id}
    </delete>

    <!--更新渠道类型-->
    <update id="updChannelCategory">
        update
            channel_category
        set
            channel_category = #{po.channelCategory}, bulky_way = #{po.bulkyWay}, volume_weight_way = #{po.volumeWeightWay},
            carrier = #{po.carrier}, cargo_type = #{po.cargoType}, volume_divisor = #{po.volumeDivisor}, remote_charge_formula = #{po.remoteChargeFormula}
        where
            id = #{po.id}
    </update>

    <!--新增渠道类型-->
    <insert id="addChannelCategory">
        insert into
            channel_category(id, channel_category, bulky_way, volume_weight_way, carrier, cargo_type, volume_divisor, remote_charge_formula)
        values
            (#{po.id}, #{po.channelCategory}, #{po.bulkyWay}, #{po.volumeWeightWay}, #{po.carrier}, #{po.cargoType}, #{po.volumeDivisor}, #{po.remoteChargeFormula})
    </insert>

</mapper>