<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apl.lms.price.exp.manage.mapper.FuelChargeMapper">

    <!--查询燃油费列表-->
    <select id="getList" resultType="com.apl.lms.price.exp.pojo.vo.FuelChargeVo">
        select
            id, start_date, end_date, fuel_charge, channel_category
        from
            fuel_charge
        order by channel_category
    </select>

    <!--根据id删除燃油费-->
    <delete id="delById">
        delete from fuel_charge where id = #{id}
    </delete>

    <!--更新燃油费-->
    <update id="updFuelCharge">
        update
            fuel_charge
        set
            start_date = #{po.startDate}, end_date = #{po.endDate}, fuel_charge = #{po.fuelCharge},channel_category = #{po.channelCategory}
        where
            id = #{po.id}
    </update>

    <!--新增燃油费-->
    <insert id="insertFuelCharge">
        insert into
            fuel_charge(id, start_date, end_date, fuel_charge, channel_category)
        values
            (#{po.id}, #{po.startDate}, #{po.endDate}, #{po.fuelCharge}, #{po.channelCategory})
    </insert>

</mapper>