<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apl.lms.price.exp.manage.mapper.PartnerMapper">

    <!--分页查询服务商-->
    <select id="getList" resultType="com.apl.lms.price.exp.pojo.po.PartnerPo">
        select
            id, partner_code, partner_short_name, partner_full_name
        from
        price_partner
        where
            1=1
        <if test="key.keyword != null">
            and partner_code LIKE CONCAT( '%' , #{key.keyword} , '%' )
            or partner_short_name LIKE CONCAT( '%' , #{key.keyword} , '%' )
            or partner_full_name LIKE CONCAT( '%' , #{key.keyword} , '%' )
        </if>

    </select>

    <!--插入服务商-->
    <insert id="insertPartner">
        insert into price_partner(id, partner_code, partner_short_name, partner_full_name) values(po.id, po.partnerCode, po.partnerShortName, po.partnerFullName)
    </insert>

</mapper>