<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apl.lms.price.exp.manage.mapper.PriceExpRemarkMapper">

    <!--批量删除-->
    <delete id="delBatch">
        delete from price_exp_remark where id in(${ids})
    </delete>

    <!--获取详情-->
    <select id="getById" resultType="com.apl.lms.price.exp.pojo.po.PriceExpRemarkPo">
        select id,remark,sale_remark,important_information from price_exp_remark where id = #{id}
    </select>

    <!--更新-->
    <update id="updById">
        update price_exp_remark set remark = #{po.remark}, sale_remark = #{po.saleRemark}, important_information = #{po.importantInformation} where id = #{po.id}
    </update>

    <!--校验id是否存在-->
    <select id="exists" resultType="java.lang.Long">
        select id from price_exp_remark where id = #{id}
    </select>

    <!--批量获取-->
    <select id="selectBatch" resultType="com.apl.lms.price.exp.pojo.po.PriceExpRemarkPo">
        select id, remark, sale_remark,important_information from price_exp_remark where id in
        <foreach collection="ids" separator="," open="(" item="row" close=")">
            #{row}
        </foreach>
    </select>

    <!--获取引用租户的remark-->
    <select id="getTenantPriceRemark" resultType="com.apl.lms.price.exp.pojo.po.PriceExpRemarkPo">
        select select id, remark, sale_remark,important_information from price_exp_remark where id = #{quotePriceId}
    </select>
</mapper>