<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apl.lms.price.exp.manage.mapper.PriceExpDataMapper">

    <resultMap id="BaseResultMap" type="com.apl.lms.price.exp.pojo.vo.PriceExpDataVo">
        <result property="priceData" column="price_data" typeHandler="com.apl.lms.price.exp.lib.typeHandler.CommonJsonbHandler"/>
    </resultMap>

    <!--根据主表id获取详细数据-->
    <select id="getPriceExpDataInfoById" resultMap="BaseResultMap">
        select
            id as priceDataId,
            price_data
        from
            price_exp_data
        where
            id = #{id}
    </select>

    <!--检测价格表数据是否存在-->
    <select id="exists" resultType="java.lang.Long">
        select
            id
        from
            price_exp_data
        where
            id = #{id}
    </select>

    <!--新增-->
    <insert id="insertData">
        insert into price_exp_data(id, price_data) values (#{po.id}, #{po.priceData,typeHandler=com.apl.lms.price.exp.lib.typeHandler.CommonJsonbHandler})
    </insert>

    <!--更新-->
    <update id="updById">
        update price_exp_data set price_data = #{po.priceData,typeHandler=com.apl.lms.price.exp.lib.typeHandler.CommonJsonbHandler} where id = #{po.id}
    </update>

    <!--批量删除-->
    <delete id="delBatch">
        delete from price_exp_data where id in(${ids})
    </delete>

</mapper>