<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apl.lms.price.exp.manage.mapper.PriceExpProfitMapper">

    <!-- 查找列表 2020-09-11-->
    <select id="getProfit" resultType="com.apl.lms.price.exp.pojo.po.PriceExpProfitPo">
        SELECT
           id, 
           increase_profit,
           cost_profit
        FROM
           price_exp_profit
        where
            id = #{priceId}
    </select>

    <!--批量删除-->
    <delete id="delBatch">
        delete from price_exp_profit where id in(${ids})
    </delete>

    <!--校验id是否存在-->
    <select id="exists" resultType="java.lang.Long">
        select id from price_exp_profit where id = #{id}
    </select>


</mapper>
