<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apl.lms.price.exp.manage.mapper.PriceExpSaleMapper">

    <!--根据主表id更新数据-->
    <update id="updateByPriceExpMainId">
        update
            price_exp_sale
        set
           price_code = #{po.priceCode},
           price_name = #{po.priceName},
           customer_groups_id = #{po.customerGroupsId},
           customer_groups_name = #{po.customerGroupsName},
           customer_ids = #{po.customerIds},
           customer_name = #{po.customerName},
           price_status = #{po.priceStatus},
           channel_category = #{po.channelCategory}
        where
           price_main_id = #{po.priceMainId}
    </update>

    <!--根据主表id获取销售价格表Id-->
    <select id="getPriceExpSaleInfoByMainId" resultType="com.apl.lms.price.exp.pojo.vo.PriceExpSaleVo">
        select
            price_code,
            price_name,
            customer_groups_id,
            customer_groups_name,
            customer_ids,
            customer_name,
            price_status,
            channel_category
        from
            price_exp_sale
        where
            price_main_id = #{id}
    </select>

    <!--根据主表id获取数据统计数量-->
    <select id="getPriceDataIdCount" resultType="java.lang.Integer">
        select count(id) from price_exp_sale where price_main_id = #{id}
    </select>

    <!--根据id得到主表id-->
    <select id="getPriceDataId" resultType="java.lang.Long">
        select price_main_id from price_exp_sale where id = #{id}
    </select>
</mapper>