<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apl.lms.price.exp.manage.mapper.PriceExpMapper">

    <!--分页查询销售价格列表-->
    <select id="getPriceExpSaleList" resultType="com.apl.lms.price.exp.pojo.vo.PriceExpSaleListVo">
        select
            main.id as priceMainId, main.start_date, main.end_date, main.currency, main.volume_divisor, main.account_type,
            main.main_status, main.special_commodity,
            sale.id, sale.price_code, sale.price_name, sale.customer_groups_name, sale.customer_name,
            sale.channel_category, sale.price_status
        from
            price_exp_sale sale
        left join
            price_exp_main main
        on
            main.id = sale.price_main_id
        where
        <if test="key.priceType == 1">
            sale.customer_groups_name is not null
        </if>
        <if test="key.priceType == 2">
            sale.customer_name is not null
        </if>
        <if test="key.volumeDivisor != null">
            and main.volume_divisor = #{key.volumeDivisor}
        </if>
        <if test="key.accountType != null">
            and main.account_type = #{key.accountType}
        </if>
        <if test="key.mainStatus > 0 and key.mainStatus &lt; 4">
            and main.main_status = #{key.mainStatus}
        </if>
        <if test="key.mainStatus == 4">
            and main.end_date - now() > '0 day' and main.end_date - now() &lt;= '3 day'
        </if>
        <if test="key.mainStatus == 5">
            and now() - main.end_date > '0 day'
        </if>
        <if test="key.specialCommodity > 0">
            and main.special_commodity = #{key.specialCommodity}
        </if>
        <if test="key.customerGroupsId != null">
            and sale.customer_groups_id @> #{key.customerGroupsId,typeHandler=com.apl.lms.price.exp.lib.typeHandler.CommonJsonbHandler}
        </if>
        <if test="key.customerId != null">
            and sale.customer_ids @> #{key.customerId,typeHandler=com.apl.lms.price.exp.lib.typeHandler.CommonJsonbHandler}
        </if>
        <if test="key.priceStatus != null and key.priceStatus > 0">
            and sale.price_status = #{key.priceStatus}
        </if>
        <if test="key.channelCategory != null">
            and sale.channel_category = #{key.channelCategory}
        </if>
        <if test="key.keyWord != null">
            and sale.customer_name LIKE CONCAT( '%' , #{key.keyword} , '%' )
            or sale.price_name LIKE CONCAT( '%' , #{key.keyword} , '%' )
            or sale.customer_groups_name LIKE CONCAT( '%' , #{key.keyword} , '%' )
        </if>
    </select>

    <!--分页查询成本价格列表  -->
    <select id="getPriceExpCostList" resultType="com.apl.lms.price.exp.pojo.vo.PriceExpCostListVo">
        select
        main.id as priceMainId, main.start_date, main.end_date, main.currency, main.volume_divisor, main.account_type,
        main.main_status, main.special_commodity,
        cost.id, cost.price_status, cost.price_code, cost.price_name, cost.channel_category
        from
        price_exp_cost cost
        left join
        price_exp_main main
        on
        main.id = cost.price_main_id
        where
        main.is_published_price = 2
        <if test="key.volumeDivisor != null">
            and main.volume_divisor = #{key.volumeDivisor}
        </if>
        <if test="key.specialCommodity > 0">
            and main.special_commodity = #{key.specialCommodity}
        </if>

        <if test="key.accountType != null">
            and main.account_type = #{key.accountType}
        </if>
        <if test="key.mainStatus > 0 and key.mainStatus &lt; 4">
            and main.main_status = #{key.mainStatus}
        </if>
        <if test="key.mainStatus == 4">
            and main.end_date - now() > '0 day' and main.end_date - now() &lt;= '3 day'
        </if>
        <if test="key.mainStatus == 5">
            and now() - main.end_date > '0 day'
        </if>
        <if test="key.partnerId != null">
            and cost.partner_id = #{key.partnerId}
        </if>
        <if test="key.priceStatus != null and key.priceStatus > 0">
            and cost.price_status = #{key.priceStatus}
        </if>
        <if test="key.channelCategory != null">
            and cost.channel_category = #{key.channelCategory}
        </if>
        <if test="key.keyWord != null">
            and cost.price_name LIKE CONCAT( '%' , #{key.keyword} , '%' )
        </if>
    </select>


    <!--分页查询公布价价格列表 -->
    <select id="getPublishedPriceList" resultType="com.apl.lms.price.exp.pojo.vo.PriceExpCostListVo">
        select
        main.id as priceMainId, main.start_date, main.end_date, main.currency, main.main_status,
        cost.id, cost.price_status, cost.price_code, cost.price_name, cost.channel_category
        from
        price_exp_cost cost
        left join
        price_exp_main main
        on
        main.id = cost.price_main_id
        where
        main.is_published_price = 1 and main.end_date>now()
        <if test="key.priceStatus != null and key.priceStatus > 0">
            and cost.price_status = #{key.priceStatus}
        </if>
        <if test="key.channelCategory != null">
            and cost.channel_category = #{key.channelCategory}
        </if>
        <if test="key.keyWord != null">
            and cost.price_name LIKE CONCAT( '%' , #{key.keyword} , '%' )
        </if>
    </select>

    <!--新增快递价格-->
    <insert id="addPriceExpMain">
        insert into
             price_exp_main(id, start_date, end_date, currency, zone_id, volume_divisor, account_type, account_no,
             main_status, special_commodity, price_form, start_weight, end_weight, price_published_id,
             is_published_price, aging, inner_org_id)
         values
             (#{po.id},
             #{po.startDate},
             #{po.endDate},
             #{po.currency},
             #{po.zoneId},
             #{po.volumeDivisor},
             #{po.accountType},
             #{po.accountNo},
             #{po.mainStatus},
             #{po.specialCommodity},
             #{po.priceForm},
             #{po.startWeight},
             #{po.endWeight},
             #{po.pricePublishedId},
             #{po.isPublishedPrice},
             #{po.aging},
             #{po.innerOrgId})
     </insert>


    <!--校验id是否存在啊-->
    <select id="getExpListById" resultType="java.lang.Long">
        select id from price_exp_list where id = #{id}
    </select>

    <!--获取主表详细-->
    <select id="getPriceExpMainInfoById" resultType="com.apl.lms.price.exp.pojo.vo.PriceExpSaleInfoVo">
        select
            id,
            start_date,
            end_date,
            currency,
            zone_id,
            volume_divisor,
            account_type,
            account_no,
            main_status,
            special_commodity,
            price_form,
            start_weight,
            end_weight,
            is_published_price,
            aging
        from
            price_exp_main
        where
            id = #{id}
    </select>

    <!--根据主表id查询多租户id-->
    <select id="getInnerOrgId" resultType="java.lang.Long">
        select inner_org_id from price_exp_main where id in
        <foreach collection="ids" separator="," open="(" close=")" item="row">
            #{row}
        </foreach>
    </select>
    <select id="getInnerOrgById" resultType="java.lang.Long">
        select inner_org_id from price_exp_main where id = #{id}
    </select>

    <!--更新-->
    <update id="updateMainById">
        update price_exp_main set
        <if test="po.zoneId != null">
            zone_id = #{po.zoneId},
        </if>
        <if test="po.accountNo != null">
            account_no = #{po.accountNo},
        </if>
        <if test="po.specialCommodity != null">
            special_commodity = #{po.specialCommodity, typeHandler=com.apl.lms.price.exp.lib.typeHandler.CommonJsonbHandler},
        </if>
        <if test="po.priceForm != null">
            price_form = #{po.priceForm},
        </if>
        <if test="po.aging != null">
            aging = #{po.aging},
        </if>
        <if test="po.isPublishedPrice != null">
            is_published_price = #{po.isPublishedPrice},
        </if>
        <if test="po.mainStatus != null">
            main_status = #{po.mainStatus},
        </if>
            start_date = #{po.startDate}, end_date = #{po.endDate}, currency = #{po.currency}, account_type = #{po.accountType},
            volume_divisor = #{po.volumeDivisor}, start_weight = #{po.startWeight}, end_weight = #{po.endWeight},
            price_published_id = #{po.pricePublishedId}
        where
            id = #{po.id}
    </update>
</mapper>