<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apl.lms.price.exp.manage.mapper.PriceZoneMapper">

    <!--分页查询快递分区列表-->
    <select id="getList" resultType="com.apl.lms.price.exp.pojo.vo.PriceZoneVo" parameterType="com.apl.lms.price.exp.pojo.dto.PriceZoneInsertKeyDto">
        select
            id, channel_category, zone_name
        from
            price_zone
        where
           1=1
        <if test="dto.channelCategory != null">
            and channel_category =  #{dto.channelCategory}
        </if>
        <if test="dto.keyword != null">
            and zone_name LIKE CONCAT( '%' , #{dto.keyword} , '%' )
        </if>
    </select>

    <!--根据Id获取分区详细-->
    <select id="getById" resultType="com.apl.lms.price.exp.pojo.vo.PriceZoneVo">
        select id, channel_category, zone_name from price_zone where id = #{id}
    </select>

    <!--根据id删除快递分区-->
    <delete id="delById">
        delete from price_zone where id in
            <foreach collection="ids" index="" separator="," item="row" open="(" close=")">
                #{row}
             </foreach>
    </delete>

    <!--更新快递分区-->
    <update id="updPriceZone">
        update price_zone set channel_category = #{po.channelCategory}, zone_name = #{po.zoneName} where id = #{po.id}
    </update>

    <!--新增快递分区-->
    <insert id="addPriceZone">
        insert into price_zone(id, channel_category, zone_name) values (#{po.id}, #{po.channelCategory}, #{po.zoneName})
    </insert>

</mapper>