<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apl.lms.price.exp.manage.mapper.PriceExpCostMapper">



    <!--根据主表id获取详情-->
    <select id="getPriceExpCostInfo" resultType="com.apl.lms.price.exp.pojo.vo.PriceExpCostVo">
        select
            id,
            partner_id,
            price_status,
            price_code,
            price_name,
            channel_category,
            price_main_id
        from
            price_exp_cost
        where
            id = #{id}
    </select>


    <!--根据主表id获取统计条数-->
    <select id="getPriceDataIdCount" resultType="java.lang.Integer">
        select count(id) from price_exp_cost where price_main_id in
        <foreach collection="ids" separator="," open="(" close=")" item="row" index="">
            #{row}
        </foreach>
    </select>

    <!--获取主表ids-->
    <select id="getPriceDataIds" resultType="java.lang.Long">
        select price_main_id from price_exp_cost where id in
        <foreach collection="ids" close=")" index="" item="row" open="(" separator=",">
            #{row}
        </foreach>
    </select>

    <!--获取主表id-->
    <select id="getMainId" resultType="java.lang.Long">
        select price_main_id from price_exp_cost where id = #{id}
    </select>
</mapper>