<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apl.lms.price.exp.manage.mapper.PriceExpAxisMapper">

    <!--根据priceId删除数据-->
    <delete id="deleteByPriceExpMainId">
        delete from price_exp_axis where price_main_id = #{id}
    </delete>

    <!--根据主表id获取详细数据-->
    <select id="getPriceExpAxisInfoByMainId" resultType="com.apl.lms.price.exp.pojo.po.PriceExpAxisPo">
        select
            axis_transverse,
            axis_portrait
        from
            price_exp_axis
        where
            price_id = #{id}
    </select>

    <!--新增-->
    <insert id="insertAxis">
        insert into price_exp_axis(price_main_id, axis_transverse, axis_portrait) values (#{po.priceMainId}, #{po.axisTransverse}, #{po.axisPortrait})
    </insert>
</mapper>