<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apl.lms.price.exp.manage.mapper.SpecialCommodityMapper">

    <!-- 查找特殊物品列表-->
    <select id="getList" resultType="com.apl.lms.price.exp.pojo.vo.SpecialCommodityVo">
        SELECT
            id,
            special_commodity_name
        FROM
            price_special_commodity
        where
            1=1
        <if test="key.keyword != null">
            and special_commodity_name LIKE CONCAT( '%' , #{key.keyword} , '%' )
        </if>
    </select>

    <!--根据Id删除特殊物品-->
    <delete id="delById">
        delete from price_special_commodity where id = #{id}
    </delete>

    <!--更新特殊物品-->
    <update id="updSpecialCommodity">
        update price_special_commodity set special_commodity_name = #{po.specialCommodityName} where id = #{po.id}
    </update>

    <!--批量插入特殊物品-->
    <insert id="addSpecialCommodity">

        <foreach collection="po" close="" open="" item="row" separator=";" index="">
            insert into price_special_commodity(id, special_commodity_name) values (${row.id}, #{row.specialCommodityName})
        </foreach>

    </insert>

    <!--获取特殊物品详细-->
    <select id="getSpecialCommodity" resultType="com.apl.lms.price.exp.pojo.vo.SpecialCommodityVo">
        select id,special_commodity_name from price_special_commodity where id = #{id}
    </select>
</mapper>
