<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apl.lms.price.exp.manage.mapper.SpecialCommodityMapper">

    <!-- 查找特殊物品列表-->
    <select id="getList" resultType="com.apl.lms.price.exp.pojo.vo.SpecialCommodityVo">
        SELECT
            id,
            special_commodity_name,
            special_commodity_name_en,
            code
        FROM
            special_commodity
        where
            1=1
        <if test="key.code > 0">
            and code = #{key.code}
        </if>
        <if test="key.keyword != null">
            and special_commodity_name LIKE CONCAT( '%' , #{key.keyword} , '%' )
            or special_commodity_name_en LIKE CONCAT( '%' , #{key.keyword} , '%' )
        </if>
        order by code
    </select>

    <!--批量插入特殊物品-->
    <insert id="addSpecialCommodity">

            insert into
                special_commodity(id, special_commodity_name, special_commodity_name_en, code)
            values
            <foreach collection="po" close="" open="" item="row" separator="," index="">
                (#{row.id}, #{row.specialCommodityName}, #{row.specialCommodityNameEn}, #{row.code})
            </foreach>

    </insert>

    <!--获取特殊物品详细-->
    <select id="getSpecialCommodity" resultType="com.apl.lms.price.exp.pojo.vo.SpecialCommodityVo">
        select id,special_commodity_name, special_commodity_name_en, code from special_commodity where id = #{id}
    </select>
</mapper>
