<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apl.lms.price.exp.manage.mapper.SurchargeMapper">

    <!-- 查找附加费列表-->
    <select id="getList" resultType="com.apl.lms.price.exp.pojo.po.SurchargePo">
        SELECT
            id,
            charge_name,
            charge_name_en,
            computing_formula,
            currency,
            code
        FROM
            price_surcharge
        where
            1=1
        <if test="key.code > 0">
            and code = #{key.code}
        </if>
        <if test="key.keyword != null">
            and charge_name LIKE CONCAT( '%' , #{key.keyword} , '%' )
            or charge_name_en LIKE CONCAT( '%' , #{key.keyword} , '%' )
        </if>
        order by code
    </select>

    <!--批量插入附加费-->
    <insert id="addSurcharge">

            insert into
                price_surcharge(id, charge_name, charge_name_en, computing_formula, currency, code)
            values

        <foreach collection="po" index="" separator="," item="row" open="" close="">
            (#{row.id}, #{row.chargeName}, #{row.chargeNameEn}, #{row.computingFormula}, #{row.currency}, #{row.code})
        </foreach>

    </insert>

    <update id="updById">
        update price_surcharge set computing_formula = #{po.computingFormula}, currency = #{po.currency} where id = #{po.id}
    </update>

    <select id="getById" resultType="com.apl.lms.price.exp.pojo.po.SurchargePo">
        select charge_name, computing_formula, currency, code, charge_name_en from price_surcharge where id = #{id}
    </select>

    <delete id="delById">
        delete from price_surcharge where id = #{id}
    </delete>
</mapper>
