<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apl.lms.price.exp.manage.mapper.SurchargeMapper">

    <!-- 查找附加费列表-->
    <select id="getList" resultType="com.apl.lms.price.exp.pojo.dto.SurchargeDto">
        SELECT
            id,
            charge_name,
            computing_formula,
            currency
        FROM
            price_surcharge
        where
            1=1
        <if test="key.keyword != null">
            and charge_name LIKE CONCAT( '%' , #{key.keyword} , '%' )
        </if>
    </select>

    <!--根据Id删除附加费-->
    <delete id="delById">
        delete from price_surcharge where id = #{id}
    </delete>

    <!--更新附加费-->
    <update id="updSurcharge">
        update price_surcharge set charge_name = #{po.chargeName}, computing_formula = #{po.computingFormula}, currency = #{po.currency} where id = #{po.id}
    </update>

    <!--批量插入附加费-->
    <insert id="addSurcharge">

        <foreach collection="po" index="" separator=";" item="row" open="" close="">
            insert into price_surcharge(id, charge_name, computing_formula, currency) values (#{row.id}, #{row.chargeName}, #{row.computingFormula}, #{row.currency})
        </foreach>

    </insert>

    <!--获取附加费详细-->
    <select id="getSurcharge" resultType="com.apl.lms.price.exp.pojo.dto.SurchargeDto">
        select id,charge_name,computing_formula,currency from price_surcharge where id = #{id}
    </select>
</mapper>
