<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apl.lms.price.exp.manage.mapper.UnifyProfitMapper">

    <delete id="deleteBatch">
        delete from unify_exp_profit where id in
        <foreach collection="ids" close=")" item="row" open="(" separator=",">
            #{row}
        </foreach>
    </delete>

    <select id="getUnifyProfit" resultType="com.apl.lms.price.exp.pojo.po.UnifyExpPricePo">
        select
            id, customer_group_id, customer_group_name, start_weight, end_weight, first_weight_profit, unit_weight_profit, proportion_profit
        from
            unify_exp_profit
        <where>
            <if test="customerGroupId > 0">
                customer_group_id like concat('%',#{customerGroupId}, '%')
            </if>
        </where>
        order by id
    </select>


    <insert id="insertUnifyProfit">
        insert into
            unify_exp_profit (id, customer_group_id, customer_group_name, start_weight, end_weight, first_weight_profit, unit_weight_profit, proportion_profit)
        values (
            #{po.id}, #{po.customerGroupId}, #{po.customerGroupName},
            #{po.startWeight}, #{po.endWeight}, #{po.firstWeightProfit}, #{po.unitWeightProfit}, #{po.proportionProfit}
                )
    </insert>


    <update id="updateUnifyProfit">
         update
            unify_exp_profit
         set
            <if test="po.startWeight != null">
                start_weight = #{po.startWeight},
            </if>
            <if test="po.endWeight != null">
                end_weight = #{po.endWeight},
            </if>
            <if test="po.firstWeightProfit != null">
                first_weight_profit = #{po.firstWeightProfit},
            </if>
            <if test="po.unitWeightProfit != null">
                unit_weight_profit = #{po.unitWeightProfit},
            </if>
            <if test="po.proportionProfit != null">
                proportion_profit = #{po.proportionProfit},
            </if>
            customer_group_id = #{po.customerGroupId},
            customer_group_name = #{po.customerGroupName}
         where
            id = #{po.id}

    </update>

    <select id="getListForTenant" resultType="com.apl.lms.price.exp.pojo.po.UnifyExpPricePo">
        select
            id, customer_group_id, customer_group_name, start_weight, end_weight, first_weight_profit, unit_weight_profit, proportion_profit
        where
            customer_group_id like concat('%', #{customerGroupId}, '%')
        and
            inner_org_id = #{innerOrgId}
    </select>

</mapper>
