<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apl.lms.price.exp.manage.mapper.WeightWayMapper">

    <!-- 查找计泡方式列表-->
    <select id="getList" resultType="com.apl.lms.price.exp.pojo.dto.WeightWayUpdDto">
        SELECT
            id,
            computing_formula
        FROM
            weight_way
        where
            1=1
        <if test="key.code > 0">
            and code = #{key.code}
        </if>
        <if test="key.keyword != null">
            and weight_way_name LIKE CONCAT( '%' , #{key.keyword} , '%' )
            or weight_way_name_en LIKE CONCAT( '%' , #{key.keyword} , '%' )
        </if>
        order by code
    </select>

    <!--批量插入附加费-->
    <insert id="addWeightWay">
            insert into weight_way (id, weight_way_name, weight_way_name_en, computing_formula, code) values
        <foreach collection="po" close="" open="" item="row" separator="," index="">
            (#{row.id}, #{row.weightWayName}, #{row.weightWayNameEn}, #{row.computingFormula}, #{row.code})
        </foreach>

    </insert>

    <!--获取计泡方式详情-->
    <select id="getWeightWay" resultType="com.apl.lms.price.exp.pojo.dto.WeightWayUpdDto">
        select id, computing_formula from weight_way where id = #{id}
    </select>
</mapper>
