<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apl.lms.common.mapper.WeightWayMapper">

    <!-- 查找计泡方式列表-->
    <select id="getList" resultType="com.apl.lms.common.query.manage.dto.WeightWayDto">
        SELECT
            id,
            weight_way_name,
            computing_formula
        FROM
            weight_way
        where
            1=1
        <if test="key.keyword != null">
            and (locate(#{kd.keyword}, weight_way_name)>0
        </if>
    </select>

    <!--根据Id删除附加费-->
    <delete id="delById">
        delete from weight_way where id = #{id}
    </delete>

    <!--更新附加费-->
    <update id="updWeightWay">
        update weight_way set weight_way_name = #{po.weightWayName}, computing_formula = #{po.computingFormula} where id = #{po.id}
    </update>

    <!--插入附加费-->
    <insert id="addWeightWay">
        insert into weight_way (id, weight_way_name, computing_formula) values (#{po.id}, #{po.weightWayName}, #{po.computingFormula})
    </insert>
</mapper>
