<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apl.lms.price.exp.manage.mapper2.PriceExpMapper">

    <!--分页查询销售价格列表-->
    <select id="getPriceExpSaleList" resultType="com.apl.lms.price.exp.pojo.vo.PriceExpSaleListVo">
        select
            id, start_date, end_date, currency, volume_divisor, account_type, special_commodity, price_code,
            price_sale_name as price_name, customer_groups_name, customer_name, channel_category, price_status, syn_status
        from
            lms_exp_price
        where
        inner_org_id = #{key.innerOrgId}
        AND is_published_price=2
        <if test="key.synStatus &lt; 4 and key.synStatus != null">
            and syn_status = #{key.synStatus}
        </if>
        <if test="key.isQuote > 0">
            and is_quote = #{key.isQuote}
        </if>
        <if test="key.priceType == 1">
            and customer_groups_name != ''
        </if>
        <if test="key.priceType == 2">
            and customer_name != ''
        </if>
        <if test="key.volumeDivisor != null">
            and volume_divisor = #{key.volumeDivisor}
        </if>
        <if test="key.accountType != null">
            and account_type = #{key.accountType}
        </if>
        <if test="key.priceStatus > 0 and key.priceStatus &lt; 4">
            and price_status = #{key.priceStatus}
        </if>
        <!-- 未过期 -->
        <if test="key.priceStatus == 4">
            and end_date > now()
        </if>
        <!-- 即将过期 -->
        <if test="key.priceStatus == 5">
            and end_date - now() > '0 day' and end_date - now() &lt;= '7 day'
        </if>
        <!-- 已过期 -->
        <if test="key.priceStatus == 6">
            and now() > end_date
        </if>
        <if test="key.specialCommodity > 0">
            and special_commodity @> '[${key.specialCommodity}]'::jsonb
        </if>
        <if test="key.customerGroupsId != null">
            and customer_groups_id @> '${key.customerGroupsId}'
        </if>
        <if test="key.customerId != null">
            and customer_ids @> '${key.customerId}'
        </if>
        <if test="key.channelCategory != null">
            and channel_category = #{key.channelCategory}
        </if>
        <if test="key.keyWord != null">
            and (  price_sale_name LIKE CONCAT( '%' , #{key.keyword} , '%' )
                or price_name LIKE CONCAT( '%' , #{key.keyword} , '%' ) )
        </if>
    </select>

    <!--分页查询成本价格列表 -->
    <select id="getPriceExpCostList" resultType="com.apl.lms.price.exp.pojo.vo.PriceExpCostListVo">
        select
            id ,start_date, end_date, currency, volume_divisor, account_type, special_commodity, price_status,
            price_code, price_name, channel_category, partner_id, partner_name, syn_status
        from
        lms_exp_price
        where
        inner_org_id = #{key.innerOrgId}
        and is_published_price = 2
        and partner_id>0
        <if test="key.synStatus &lt; 4 and key.synStatus != null">
            and syn_status = #{key.synStatus}
        </if>
        <if test="key.isQuote > 0">
            and is_quote = #{key.isQuote}
        </if>
        <if test="key.volumeDivisor != null">
            and volume_divisor = #{key.volumeDivisor}
        </if>
        <if test="key.specialCommodity > 0">
            and special_commodity @> '[${key.specialCommodity}]'::jsonb
        </if>
        <if test="key.accountType != null">
            and account_type = #{key.accountType}
        </if>
        <if test="key.priceStatus > 0 and key.priceStatus &lt; 4">
            and price_status = #{key.priceStatus}
        </if>
        <!-- 未过期 -->
        <if test="key.priceStatus == 4">
            and end_date > now()
        </if>
        <!-- 即将过期 -->
        <if test="key.priceStatus == 5">
            and end_date - now() > '0 day' and end_date - now() &lt;= '7 day'
        </if>
        <!-- 已过期 -->
        <if test="key.priceStatus == 6">
            and now() > end_date
            and now() - end_date > '0 day'
        </if>
        <if test="key.partnerId != null">
            and partner_id = #{key.partnerId}
        </if>
        <if test="key.channelCategory != null">
            and channel_category = #{key.channelCategory}
        </if>
        <if test="key.keyWord != null">
            and price_name LIKE CONCAT( '%' , #{key.keyword} , '%' )
        </if>
    </select>

    <!--分页查询公布价价格列表 -->
    <select id="getPublishedPriceList" resultType="com.apl.lms.price.exp.pojo.vo.PriceExpCostListVo">
        select
            id, start_date, end_date, currency, account_type, price_status, price_code, price_sale_name, price_name, channel_category, special_commodity,
            volume_divisor
        from
        lms_exp_price
        where
            is_published_price = 1 and end_date>now()
        <!--<if test="key.isQuote > 0">
            and is_quote = #{key.isQuote}
        </if>-->
        <if test="key.priceStatus != null and key.priceStatus > 0">
            and price_status = #{key.priceStatus}
        </if>
        <if test="key.accountType != null">
            and account_type = #{key.accountType}
        </if>
        <if test="key.channelCategory != null">
            and channel_category = #{key.channelCategory}
        </if>
        <if test="key.keyWord != null">
            and price_name LIKE CONCAT( '%' , #{key.keyword} , '%' )
        </if>
    </select>

    <!--新增快递价格-->
    <insert id="addExpPrice">
        insert into
             lms_exp_price(
             id, start_date, end_date, currency, account_type, account_no, special_commodity, price_format, start_weight, end_weight,
             price_published_id, is_published_price, aging, volume_divisor, zone_id, price_data_id, price_code, price_name,
             price_sale_name, channel_category, price_status, quote_price_id, partner_id, partner_name, customer_groups_id,
             customer_groups_name, customer_ids, customer_name, upd_time, quote_price_upd_time, is_quote, syn_status, quote_tenant_code)
         values
             (#{po.id},
             #{po.startDate},
             #{po.endDate},
             #{po.currency},
             #{po.accountType},
             #{po.accountNo},
             #{po.specialCommodity,typeHandler=com.apl.lms.price.exp.lib.typeHandler.CommonJsonbHandler},
             #{po.priceFormat},
             #{po.startWeight},
             #{po.endWeight},
             #{po.pricePublishedId},
             #{po.isPublishedPrice},
             #{po.aging},
             #{po.volumeDivisor},
             #{po.zoneId},
             #{po.priceDataId},
             #{po.priceCode},
             #{po.priceName},
             #{po.priceSaleName},
             #{po.channelCategory},
             #{po.priceStatus},
             #{po.quotePriceId},
             #{po.partnerId},
             #{po.partnerName},
             #{po.customerGroupsId,typeHandler=com.apl.lms.price.exp.lib.typeHandler.CommonJsonbHandler},
             #{po.customerGroupsName},
             #{po.customerIds,typeHandler=com.apl.lms.price.exp.lib.typeHandler.CommonJsonbHandler},
             #{po.customerName},
             #{po.updTime},
             #{po.quotePriceUpdTime},
             #{po.isQuote},
             #{po.synStatus},
             #{po.quoteTenantCode})
     </insert>

    <!--更新-->
    <update id="updById">
        update lms_exp_price set
        <if test="po.accountNo != null">
            account_no = #{po.accountNo},
        </if>
        <if test="po.specialCommodity != null">
            special_commodity = #{po.specialCommodity, typeHandler=com.apl.lms.price.exp.lib.typeHandler.CommonJsonbHandler},
        </if>
        <if test="po.isPublishedPrice != null">
            is_published_price = #{po.isPublishedPrice},
        </if>
        <if test="po.pricePublishedId != null">
            price_published_id = #{po.pricePublishedId},
        </if>
        <if test="po.aging != null">
            aging = #{po.aging},
        </if>
        <if test="po.zoneId != null">
            zone_id = #{po.zoneId},
        </if>
        <if test="po.priceCode != null">
            price_code = #{po.priceCode},
        </if>
        <if test="po.priceSaleName != null">
            price_sale_name = #{po.priceSaleName},
        </if>
        <if test="po.priceStatus != null">
            price_status = #{po.priceStatus},
        </if>
        <if test="po.customerGroupsId != null">
            customer_groups_id = #{po.customerGroupsId, typeHandler=com.apl.lms.price.exp.lib.typeHandler.CommonJsonbHandler},
        </if>
        <if test="po.customerGroupsName != null">
            customer_groups_name = #{po.customerGroupsName},
        </if>
        <if test="po.customerIds">
            customer_ids = #{po.customerIds, typeHandler=com.apl.lms.price.exp.lib.typeHandler.CommonJsonbHandler},
        </if>
        <if test="po.customerName != null">
            customer_name = #{po.customerName},
        </if>
        <if test="po.updTime != null">
            upd_time = #{po.updTime},
        </if>
        <if test="po.quotePriceUpdTime != null">
            quote_price_upd_time = #{po.quotePriceUpdTime},
        </if>
        <if test="po.isQuote != null">
            is_quote = #{po.is_quote},
        </if>
        <if test="po.partnerId != null">
            partner_id = #{po.partnerId},
        </if>
        <if test="po.partnerName != null">
            partner_name = #{po.partnerName},
        </if>
        <if test="po.synStatus != null">
            syn_status = #{po.synStatus},
        </if>
        <if test="po.quoteTenantCode != null">
            quote_tenant_code = #{po.quoteTenantCode},
        </if>
            price_name = #{po.priceName},
            channel_category = #{po.channelCategory},
            start_date = #{po.startDate}, end_date = #{po.endDate}, currency = #{po.currency}, account_type = #{po.accountType},
            volume_divisor = #{po.volumeDivisor}
        where
            id = #{po.id}
    </update>

    <update id="updData">
        update lms_exp_price set start_weight = #{po.startWeight}, end_Weight = #{po.endWeight}, price_format = #{po.priceFormat}, upd_time = #{po.updTime}
        where id = #{po.id}
    </update>

    <!--批量删除-->
    <delete id="delBatchs">
        delete from lms_exp_price where id in(${ids})
    </delete>

    <!--根据主表id获取销售价格表Id-->
    <select id="getPriceExpInfoById" resultType="com.apl.lms.price.exp.pojo.vo.PriceExpPriceInfoVo">
        select
            id,
            price_code,
            price_sale_name,
            price_name,
            partner_id,
            partner_name,
            price_status,
            channel_category,
            start_date,
            end_date,
            currency,
            zone_id,
            volume_divisor,
            account_type,
            account_no,
            special_commodity as special_commodity_str,
            is_published_price,
            price_format,
            start_weight,
            end_weight,
            aging,
            price_published_id,
            price_data_id,
            quote_tenant_code,
            upd_time,
            quote_price_upd_time,
            inner_org_id,
            syn_status
        from
            lms_exp_price
        where
            id = #{id}
    </select>

    <select id="getCustomerInfo" resultType="com.apl.lms.price.exp.pojo.vo.PriceExpSaleVo">
        select
            customer_groups_id,
            customer_groups_name,
            customer_ids,
            customer_name
        from
            lms_exp_price
        where
            id = #{id}
    </select>

    <select id="getPriceDataIds" resultType="java.lang.Long">
        select price_data_id from lms_exp_price where id in (${ids})
    </select>

    <!--通过价格表数据id获取主表id-->
    <select id="getMainIdByPriceDataId" resultType="java.lang.Long">
        select id from lms_exp_price where price_data_id = #{priceDataId}
    </select>

    <!--更新起始重截止重-->
    <update id="upd">
        update lms_exp_price set start_weight = #{po.startWeight}, end_weight = #{po.endWeight} where id = #{po.id}
    </update>

    <!--获取租户和价格数据表id-->
    <select id="getInnerOrgIdAndPriceDatId" resultType="com.apl.lms.price.exp.pojo.bo.ExpPriceInfoBo">
        select id, quote_price_id, inner_org_id, price_data_id, price_format, upd_time, quote_price_upd_time from lms_exp_price where id = #{id}
    </select>

    <!--获取同步价格属性-->
    <select id="getSyncPriceAttribute" resultType="com.apl.lms.price.exp.pojo.bo.ExpPriceInfoBo">
        select
            id,
            quote_price_id,
            inner_org_id,
            price_data_id,
            price_format,
            quote_price_upd_time
        from
            lms_exp_price
        where
            id in
            <foreach collection="priceIds" item="row" open="(" close=")" separator=",">
                #{row}
            </foreach>
    </select>

    <select id="getList" resultType="com.apl.lms.price.exp.pojo.po.PriceExpMainPo">
        select
            id,
            quote_price_id,
            inner_org_id,
            upd_time,
            quote_price_upd_time,
            quote_tenant_code
        from
            lms_exp_price
        where
            id in
            <foreach collection="ids" item="row" separator="," open="(" close=")">
                #{row}
            </foreach>
    </select>
</mapper>